# build folder
dist/

# minified svg files:
src/maps/districts.json
src/maps/states.json

# payPics json files
dayPics/districts-incidenceColorsPerDay*.json
dayPics/states-incidenceColorsPerDay*.json
dayPics/status.json