name: Deploy to Railway
on:
  push:
    branches:
      - "v2"
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node 17
        uses: actions/setup-node@v1
        with:
          node-version: 17.x

      - name: Install Railway
        run: npm i -g @railway/cli

      - name: Deploy
        run: railway up
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

      - name: Install redis
        run: sudo apt-get install -y redis-tools redis-server

      - name: Flush redis database
        run: redis-cli -u ${{ secrets.REDIS_URL }} FLUSHDB

      - name: Purge cache
        uses: jakejarvis/cloudflare-purge-action@master
        env:
          CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE }}
          CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
